#answer-box{
  display: none;
}

body{
  background-image: url("../img/geometric-mountains.jpg");
  /* background-size: cover; */
  background-repeat: no-repeat;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
h5 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}