#answer-box{
  display: none;
  font-family: 'Muli', sans-serif;
  text-align: center;
  margin: 25px;
  font-weight: bolder;
}
#answer-box.well {
  background-color: rgba(156, 208, 185, 0.4);
}

body {
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  background-image: url("../img/geometric-mountains.jpg");
  background-repeat: no-repeat;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
h5 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.btn-block {
  background-color: #1c626e;
  color: whitesmoke;
}

.well {
  background-color: rgba(255, 255, 255, 0.3);
}

.header {
  margin-top: 20px;
  margin-bottom: 40px;
}
